# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [7]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [16]:
import numpy as np
import pandas as pd

sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
#print(sal)

c:\Users\admin\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

** Check the head of the DataFrame. **

In [10]:
import numpy as np
import pandas as pd
sal = pd.DataFrame({'EmployeeName':['NATHANIEL FORD', 'GARY JIMNEZ', 'ALBERT PARDINI','CHRISTOPHER CHONG', 'PATRICK GARDNER' ]})

** Use the .info() method to find out how many entries there are.**

In [17]:
import numpy as np
import pandas as pd

sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [31]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
print(sal[sal['BasePay'].isnull()])
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
sal = sal.dropna(subset=['BasePay'])
sal['BasePay'] = sal['BasePay'].astype('int64')
sal['BasePay'].mean()

c:\Users\admin\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

            Id       EmployeeName                   JobTitle BasePay  \
81391    81392    Kevin P Cashman             Deputy Chief 3     NaN
84506    84507  Demetrya  Mullens  Licensed Vocational Nurse     NaN
84960    84961    Michael M Horan        Park Patrol Officer     NaN
90525    90526       Thomas  Tang           Police Officer 3     NaN
90786    90787     Michael C Hill             Deputy Sheriff     NaN
...        ...                ...                        ...     ...
110526  110527     Arthur L Curry    PS Aide Health Services     NaN
110527  110528      Nereida  Vega               Senior Clerk     NaN
110528  110529   Timothy E Gibson           Police Officer 3     NaN
110529  110530     Mark E Laherty           Police Officer 3     NaN
110530  110531      David P Kucia           Police Officer 3     NaN

       OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
81391          0.0  149934.11       0.0  149934.11         149934.11  2013
84506          0.0  110485.41   20779.0  110485.41         131264.41  2013
84960          0.0   120000.0   8841.48  120000.00         128841.48  2013
90525          0.0  106079.31       0.0  106079.31         106079.31  2013
90786          0.0   81299.02  23877.53   81299.02         105176.55  2013
...            ...        ...       ...        ...               ...   ...
110526         0.0      10.67       0.0      10.67             10.67  2013
110527         0.0       5.56       0.0       5.56              5.56  2013
110528         0.0        0.0     -2.73       0.00             -2.73  2013
110529         0.0        0.0      -8.2       0.00             -8.20  2013
110530         0.0        0.0    -33.89       0.00            -33.89  2013

        Notes         Agency Status
81391     NaN  San Francisco    NaN
84506     NaN  San Francisco    NaN
84960     NaN  San Francisco    NaN
90525     NaN  San Francisco    NaN
90786     NaN  San Francisco    NaN
...       ...            ...    ...
110526    NaN  San Francisco    NaN
110527    NaN  San Francisco    NaN
110528    NaN  San Francisco    NaN
110529    NaN  San Francisco    NaN
110530    NaN  San Francisco    NaN

[605 rows x 13 columns]

66325.06190685264

** What is the highest amount of OvertimePay in the dataset ? **

In [32]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
print(sal[sal['OvertimePay'].isnull()])
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')
sal = sal.dropna(subset=['OvertimePay'])
sal['OvertimePay'] = sal['OvertimePay'].astype('int64')
sal['OvertimePay'].max()

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

c:\Users\admin\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

245131

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [34]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

c:\Users\admin\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [37]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [38]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [39]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

c:\Users\admin\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [42]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
print(sal[sal['BasePay'].isnull()])
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
sal = sal.dropna(subset=['BasePay'])
sal['BasePay'] = sal['BasePay'].astype('int64')
sal.groupby('Year').mean()['BasePay']

            Id       EmployeeName                   JobTitle BasePay  \
81391    81392    Kevin P Cashman             Deputy Chief 3     NaN
84506    84507  Demetrya  Mullens  Licensed Vocational Nurse     NaN
84960    84961    Michael M Horan        Park Patrol Officer     NaN
90525    90526       Thomas  Tang           Police Officer 3     NaN
90786    90787     Michael C Hill             Deputy Sheriff     NaN
...        ...                ...                        ...     ...
110526  110527     Arthur L Curry    PS Aide Health Services     NaN
110527  110528      Nereida  Vega               Senior Clerk     NaN
110528  110529   Timothy E Gibson           Police Officer 3     NaN
110529  110530     Mark E Laherty           Police Officer 3     NaN
110530  110531      David P Kucia           Police Officer 3     NaN

       OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
81391          0.0  149934.11       0.0  149934.11         149934.11  2013
84506          0.0  110485.41   20779.0  110485.41         131264.41  2013
84960          0.0   120000.0   8841.48  120000.00         128841.48  2013
90525          0.0  106079.31       0.0  106079.31         106079.31  2013
90786          0.0   81299.02  23877.53   81299.02         105176.55  2013
...            ...        ...       ...        ...               ...   ...
110526         0.0      10.67       0.0      10.67             10.67  2013
110527         0.0       5.56       0.0       5.56              5.56  2013
110528         0.0        0.0     -2.73       0.00             -2.73  2013
110529         0.0        0.0      -8.2       0.00             -8.20  2013
110530         0.0        0.0    -33.89       0.00            -33.89  2013

        Notes         Agency Status
81391     NaN  San Francisco    NaN
84506     NaN  San Francisco    NaN
84960     NaN  San Francisco    NaN
90525     NaN  San Francisco    NaN
90786     NaN  San Francisco    NaN
...       ...            ...    ...
110526    NaN  San Francisco    NaN
110527    NaN  San Francisco    NaN
110528    NaN  San Francisco    NaN
110529    NaN  San Francisco    NaN
110530    NaN  San Francisco    NaN

[605 rows x 13 columns]

Year
2011    63595.525872
2012    65435.992819
2013    69629.661009
2014    66564.085390
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [43]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
sal['JobTitle'].nunique

c:\Users\admin\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<bound method IndexOpsMixin.nunique of 0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object>

** What are the top 5 most common jobs? **

In [44]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
grouped = sal.groupby('JobTitle').count()
top5 = grouped.sort_values(by='Id',  ascending=False)[:5]
top5['Id']

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [45]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
copied_sal = sal[sal['Year'] == 2013]
group = copied_sal.groupby('JobTitle').count()
count = group[group['Id'] == 1]
count.count()['Id']

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [46]:
import numpy as np
import pandas as pd
def find_chief(job_title):
    if 'chief' in job_title.lower().split():
        return True
    else:
        return False
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
sum(sal['JobTitle'].apply(lambda x: find_chief(x)))

c:\Users\admin\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

477

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [47]:
import numpy as np
import pandas as pd
sal=pd.read_csv('C:\\Users\\admin\\Desktop\\IIT KANPUR\\MTDS\\Salaries.csv')
sal['title_len'] = sal['JobTitle'].apply(len)

sal[['title_len', 'TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!